/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

body {
   font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
   margin: 0px 0px;
}

header {
    background-color: rgb(8, 9, 31);
    color: rgb(27, 176, 235);
    display: flex;
    height: 100 px;
    width: 100vw;
    justify-content: space-between;
    position: fixed;
    margin: 0px 0px;
    z-index: 1;
}

#site-header {
    margin-left: 20px;
}

h2 {
    display: inline-block;

}

#gal {
    margin-left: 150px;
}

.article {
    display: inline-block;
    width: 60vw;
    min-height: 500px;
    justify-content: space-between;
    display: flex;
    position: relative;
    padding-left: 150px;
    padding-top: 125px;
}

footer {
    background-color: rgb(27, 176, 235);
    display: flex;
    position: relative;
    bottom: 0;
    width: 99vw;
    height: 50px;
    align-items: center;
    font-weight: bold;
    text-indent: 20px;
}

#larger {
    color: rgb(27, 176, 235);
    text-align: right;
    margin-right: 35%;
}

.menu {
    color: white;
    display: inline-block;
    position: relative;
    margin-right: 40px;
    margin-top: 30px;
}

.sidebar {
    position: absolute;
    left: 110%;
    top: 80px;
}

.box {
    box-shadow: 0px 0px 20px 2px rgba(102, 75, 75, 3);
    height: 300px;
    width: 200px;
    right: 60px;
    display: block;
}

li {
    margin-bottom: 6px;
    font-size: 10pt;
    font-weight: bold;
}

.image-gallery {
    width: 50%;
    height: 650px;
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
    flex-wrap: wrap;
}

.gallery {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-left: 150px;
}

.top-row, .bottom-row {
    height: 250px;
}

#top-box {
    height: 225px;
    margin-top: 100px;
    display: block;
}

#person {
    height: 125px;
    width: 125px;
    padding-left: 37.5px;
    padding-top: 20px;
}

h3 {
    margin-top: 25px;
    /* width: 160px; */
    text-align: center;
}
h4 {
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
}

.question {
    height: 30px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1;
}